:root {
  --header-footer-bg-color: #F2F6F7;
  --menu-item-active-color: #FF6B13;
  --background-color-service-info: rgba(109, 160, 149, 0.5);
  --background-color-doctors-hover-decor: rgba(72, 136, 123, 0.65);
  --background-color-link-btn: linear-gradient(113.28deg, #48887B 16.58%, #F2F6F7 100%);
  --just-white: #fff;
  --just-black: #000;
  --just-shadow: rgba(0, 0, 0, 0.25);
  --green-block-border-decor: #48887B;
  --error-red: #DA1818;
  --success-green: #13753A;
}
