.action-single-place {
  width: 100%;
  float: left;
  padding: 20px 0px;
  box-sizing: border-box;
}

.action-single-place-center {
  width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}

.action-single-img-place {
  width: 400px;
  height: 400px;
  float: left;
}

.action-single-text-place {
  width: calc(100% - 430px);
  float: right;
}

.action-single-text {
  font-size: 24px;
  color: var(--just-black);
}
