* {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 275px;
  background-color: #D5B78B;
  box-sizing: border-box;
  overflow: hidden;
}

p {
  width: 650px;
  margin: 0px auto;
  font-size: 40px;
  font-family: 'Artiv05-Regular';
  font-style: italic;
  color: #5A482C;
}

.container {
  position: absolute;
  top: 130px;
  left: 50%;
  height: 200px;
  width: 200px;
  margin: -90px 0 0 -90px;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 94%;
  width: 94%;
  margin: -47% 0 0 -47%;
}

.color-one {
  background-color: #ed3f54;
}

.color-two {
  background-color: #ef675b;
}

.color-three {
  background-color: #ef8769;
}

.color-four {
  background-color: #efa37f;
}

.color-five {
  background-color: #eebc9b;
}


.black {
  background: black;
  animation: rotate 20s infinite linear;
  -webkit-animation: rotate 20s infinite linear;
}

.offer-animation {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  animation-duration: 1.8s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }  
}

@media(max-width: 700px) {
  body {
    padding-top: 250px;
  }

  .container {
    height: 170px;
    width: 170px;
  }

  p {
    width: 400px;
    font-size: calc(12px + 2vmin);
  }
}

@media(max-width: 540px) {
  body {
    padding-top: 210px;
  }

  .container {
    top: 115px;
    height: 150px;
    width: 150px;
  }

  p {
    width: 360px;
  }
}

@media(max-width: 430px) {
  body {
    padding-top: 200px;
  }
  
  .container {
    height: 140px;
    width: 140px;
  }

  p {
    width: 320px;
  }
}

@media(max-width: 400px) {
  p {
    width: 300px;
  }
}

@media(max-width: 370px) {
  p {
    width: 280px;
  }
}

@media(max-height: 350px) {
  body {
    padding-top: 200px;
  }

  .container {
    top: 115px;
    height: 140px;
    width: 140px;
  }
}
