.selected-analize-place {
  position: fixed;
  top: 110px;
  right: -500px;
  width: 500px;
  height: calc(100vh - 110px);
  background-image: linear-gradient(133.03deg, var(--green-block-border-decor) 4.65%, var(--background-color-doctors-hover-decor) 80.92%);
  z-index: 992;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

}

.selected-analize-rel-place {
  position: relative;
  width: 100%;
  height: 100%;
}

.selected-analize-scroll-place {
  width: 100%;
  height: 100%;
  padding: 10px 20px 40px 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selected-analize-abs-btn-place {
  position: absolute;
  top: 0px;
  left: -50px;
  width: 50px;
  height: 50px;
  background-color: var(--green-block-border-decor);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 1;
}

.open-selected-analize-btn {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.open-analize-img {
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.selected-analize-item {
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--just-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-sizing: border-box;
}

.selected-analize-name {
  font-size: 16px;
}

.selected-analize-price {
  float: left;
  margin-right: 20px;
  font-size: 16px;
}

.remove-analize-btn {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.selected-analize-info-place {
  width: 100%;
  margin-top: 40px;
}

.selected-analize-all-price {
  font-size: 20px;
  color: var(--just-white);
}

.link-from-selected-analize-list {
  display: inline-block;
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
  color: var(--success-green);
  background-color: var(--just-white);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.link-from-selected-analize-list:hover {
  font-size: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
