.slider-place {
  width: 100%;
  height: 445px;
}

.owl-carousel .owl-item img {
  max-height: 445px !important;
}

.owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 10px;
  outline: none;
}

.owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 10px;
  outline: none;
}

.owl-dots {
  display: none;
}

.slider-btn-place-abs {
  position: absolute;
  bottom: 110px;
  width: 100%;
  height: 80px;
}

.bottom-slider-place {
  width: 100%;
  height: 546px;
  clear: both;
}

.bottom-slider-place .owl-nav {
  display: none;
}

.bottom-slider-place .owl-carousel .owl-item img {
  max-height: 100% !important;
}
