@media(max-width: 1920px) {
  .header-center {
    width: 98%;
  }
  
  .content {
    width: 98%;
  }
}

@media(max-width: 1760px) {
  .all-doctors-center {
    width: 1280px;
  }

  .all-doctors-block:nth-child(4n) {
    margin: 0px 40px 40px 0px;
  }

  .all-doctors-block:nth-child(3n) {
    margin: 0px 0px 40px 0px;
  }
}

@media(max-width: 1730px) {
  .top-services-place {
    width: 1380px;
  }

  .top-services-block {
    perspective: 350px;
  }
}

@media(max-width: 1700px) {
  .services-center {
    width: 1245px;
  }

  .register-now-center {
    width: 98%;
  }

  .register-left-place {
    width: 400px;
  }

  .register-img-place {
    height: 500px;
    margin-bottom: 20px;
  }

  .register-left-text {
    padding: 0px 20px;
    font-size: 22px;
  }

  .register-doctor-form-place {
    width: calc(100% - 440px);
  }
}

@media(max-width: 1680px) {
  .actions-place {
    width: 98%;
  }
}

@media(max-width: 1630px) {
  .header-menu-link {
    padding: 0px 5px;
    font-size: 14px;
  }

  .header-phone-number {
    font-size: 14px;
  }
}

@media(max-width: 1530px) {
  .branches-slide-place {
    width: 98%;
    margin: 40px auto;
  }
}

@media(max-width: 1500px) {
  .register-place {
    padding: 20px 20px 40px 20px;
  }

  .register-left-place {
    width: 300px;
  }

  .register-img-place {
    height: 400px;
  }

  .register-left-text {
    font-size: 18px;
  }

  .register-doctor-info-place p {
    font-size: 22px !important;
  }

  .register-doctor-form-place {
    width: calc(100% - 340px);
  }
}

@media(max-width: 1440px) {
  .slider-place {
    height: 400px;
  }

  .owl-carousel .owl-item img {
    height: 400px !important;
    max-height: 400px !important;
  }

  .register-center-btn-place {
    width: 140px;
    height: 60px;
  }

  .register-link {
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }

  .register-center-btn-place:hover .register-link {
    line-height: 60px;
    font-size: 18px;
  }

  .owl-prev {
    width: 40px;
    height: 40px;
  }

  .owl-next {
    width: 40px;
    height: 40px;
  }

  .selected-analize-abs-btn-place {
    left: -40px;
    width: 40px;
    height: 40px;
  }

  .open-analize-img {
    width: 20px;
    height: 20px;
  }

  .selected-analize-name {
    font-size: 14px;
  }

  .selected-analize-price {
    margin-right: 10px;
    font-size: 14px;
  }

  .remove-analize-btn {
    width: 10px;
    height: 10px;
  }

  .selected-analize-info-place {
    margin-top: 30px;
  }

  .selected-analize-all-price {
    font-size: 18px;
  }

  .link-from-selected-analize-list {
    font-size: 16px;
  }

  .link-from-selected-analize-list:hover {
    font-size: 18px;
  }

  .top-services-place {
    width: 1200px;
    min-height: 310px;
  }

  .top-services-place-abs {
    height: auto;
  }

  .top-services-block {
    perspective: 250px;
    height: 230px;
  }

  .top-services-block-img-place {
    width: 80px;
    height: 80px;
  }

  .top-services-name {
    font-size: 13px;
  }

  .actions-title {
    font-size: 26px;
  }

  .actions-image-place {
    display: flex;
    width: 630px;
    height: 450px;
    align-items: center;
    justify-content: center;
  }

  .actions-image-place-abs {
    width: 50%;
  }

  .actions-image-block {
    width: 80%;
    height: auto;
    float: none;
    margin-top: 0px;
  }

  .actions-text-place {
    width: calc(100% - 840px);
    min-height: 450px;
  }

  .actions-text {
    font-size: 22px;
  }
}

@media(max-width: 1420px) {
  .modal-close-btn {
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
  }

  .modal-place-center {
    padding: 0px 40px 40px 40px;
  }

  .modal-title {
    margin: 20px 0px;
    font-size: 24px;
  }

  .modal-text {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .modal-input-place-child {
    width: 300px;
    height: 70px;
    margin: 0px 20px 20px 0px;
  }

  .modal-input-place-child:nth-child(3n) {
    margin: 0px 0px 20px 0px;
  }

  .modal-input {
    font-size: 18px;
    padding: 0px 5px 0px 10px;
  }

  .modal-input::placeholder {
    font-size: 18px;
  }

  .modal-question-text {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .modal-radio-place {
    margin-bottom: 20px;
  }

  .label {
    padding-left: 30px;
    font-size: 16px;
  }

  .checkmark {
    height: 18px;
    width: 18px;
  }

  .label .checkmark:after {
    width: 8px;
    height: 8px;
  }

  .modal-get-result-place {
    display: inline-block;
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }

  .modal-get-result-btn {
    padding: 15px;
  }

  .error-text {
    font-size: 16px;
  }

  .success-text {
    font-size: 16px;
  }

  .form-error-message {
    font-size: 16px;
  }

  .form-success-message {
    font-size: 16px;
  }

  .logo-place {
    width: 100px;
  }

  .header-menu {
    height: 40px;
  }

  .header-menu-item {
    height: 40px;
  }

  .header-menu-link {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }

  .header-phone-number {
    font-size: 13px;
  }

  .flags-place {
    width: 70px;
    height: 20px;
  }

  .flag-link {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .flag-link:last-child {
    margin-right: 0px;
  }
}

@media(max-width: 1360px) {
  .register-place {
    padding: 20px 20px 40px 20px;
  }
}

@media(max-width: 1320px) {
  .footer-center {
    width: 1100px;
  }

  .footer-info-blocks {
    width: 360px;
  }

  .footer-info-blocks:nth-of-type(2) {
    margin: 0px 30px;
  }

  .footer-info-blocks-decor {
    margin: 60px 0px 10px 0px;
  }

  .subscribe-soc-place {
    margin: 36px auto 0px;
  }

  .footer-menu-link {
    font-size: 16px;
  }

  .feedback-text {
    font-size: 16px;
  }

  .all-right {
    font-size: 18px;
  }
}

@media(max-width: 1300px) {
  .doctors-place-center {
    width: 840px;
  }

  .doctors-block:nth-child(2n) {
    margin-right: 0px;
  }

  .doctors-block:nth-child(3n) {
    float: none;
    margin: 0px auto;
  }

  .analize-blocks-place {
    width: 840px;
  }

  .analize-block:nth-child(3n) {
    margin: 0px 40px 40px 0px;
  }

  .analize-block:nth-child(2n) {
    margin: 0px 0px 40px 0px;
  }

  .doctors-background-place {
    height: 380px;
  }

  .all-doctors-title {
    font-size: 30px;
  }

  .doctors-background-text-place {
    height: 100px;
    margin-top: 240px;
  }

  .doctors-background-text {
    line-height: 100px;
    font-size: 26px;
  }

  .all-doctors-center {
    width: 840px;
  }

  .all-doctors-block:nth-child(4n) {
    margin: 0px 0px 40px 0px;
  }

  .all-doctors-block:nth-child(3n) {
    margin: 0px 40px 40px 0px;
  }

  .all-doctors-block:nth-child(2n) {
    margin: 0px 0px 40px 0px;
  }

  .actions-block-child {
    min-height: auto;
    overflow: hidden;
  }

  .actions-text-place {
    width: calc(100% - 660px);
  }

  .actions-block-child:nth-child(2n) .actions-text-place {
    margin-right: 10px;
  }
}

@media(max-width: 1280px) {
  .services-place {
    margin: 30px 0px;
  }

  .services-title {
    font-size: 24px;
  }

  .services-center {
    width: 830px;
    margin: 30px auto 0px;
  }

  .register-now-place {
    min-height: auto;
    margin-bottom: 20px;
  }

  .register-now-img-place {
    width: 48%;
    height: auto;
  }

  .register-now-text-place {
    width: 48%;
  }

  .register-now-title {
    margin-top: 20px;
    font-size: 30px;
  }

  .register-now-text {
    margin: 40px 0px 40px 0px;
    font-size: 20px;
  }

  .branches-title {
    font-size: 24px;
  }

  .branches-slide-place {
    margin: 20px auto;
  }

  .branches-accordion-item {
    height: 70px;
  }

  .branche-title {
    line-height: 70px;
    font-size: 22px;
  }

  .branches-accordion-info-text-place {
    margin-top: 20px;
  }

  .branches-accordion-info-text {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .branch-address-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .branch-soc-place {
    margin-top: 20px;
  }

  .register-left-place {
    float: none;
    margin: 0px auto 20px;
  }

  .register-doctor-form-place {
    width: 100%;
  }

  .register-form-place {
    width: 100%;
    padding: 0px 30px;
  }
}

@media(max-width: 1240px) {
  .slider-place {
    height: 360px;
  }

  .owl-carousel .owl-item img {
    height: 360px !important;
    max-height: 360px !important;
  }

  .top-services-place {
    width: 1080px;
  }

  .top-services-block {
    perspective: 200px;
  }

  .service-info-place {
    width: 98%;
    padding: 40px 20px 20px 20px;
  }

  .service-info-left-block {
    width: 48%;
  }

  .service-info-right-block {
    width: 48%;
  }

  .service-info-price-place {
    width: 900px;
  }

  .service-info-price-block:nth-child(4n) {
    margin: 0px 30px 30px 0px;
  }

  .service-info-price-block:nth-child(3n) {
    margin: 0px 0px 30px 0px;
  }
}

@media(max-width: 1230px) {
  .header-menu {
    display: flex;
  }

  .header-menu-item {
    display: inline-flex;
    align-items: center;
  }

  .header-menu-link {
    display: inline-block;
    height: auto;
    max-width: 120px;
    line-height: normal;
    text-align: center;
  }
}

@media(max-width: 1150px) {
  .all-price-place {
    width: 98%;
    padding: 30px 0px;
  }

  .all-price-block-title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .all-price-item {
    height: 100px;
  }

  .all-price-item-center {
    width: 98%;
    height: 80px;
    padding: 0px 20px;
  }

  .all-price-item-center p {
    font-size: 16px;
  }

  .all-price-analize-name {
    max-width: calc(100% - 150px);
  }

  .analize-price {
    margin-right: 40px;
  }

  .analize-check-place {
    width: 25px;
    height: 25px;
  }

  .all-price-item:hover p {
    font-size: 18px;
  }
}

@media(max-width: 1120px) {
  body {
    padding-top: 80px;
  }

  .selected-analize-place {
    top: 90px;
  }

  header {
    height: 80px;
  }

  .logo-place {
    height: 100%;
  }

  .header-menu {
    display: none;
  }

  .header-phone-number {
    display: none;
  }

  .burger-place {
    display: block;
  }

  .header-menu-mobile {
    display: block;
  }

  .flex-for-mobile {
    display: flex;
    align-items: center;
  }

  .flags-place {
    width: 80px;
  }

  .flag-link {
    margin-right: 10px;
  }

  .flag-link:nth-child(3n) {
    margin-right: 0px;
  }

  .top-services-place {
    width: 540px;
    min-height: 600px;
  }

  .top-services-block {
    width: 50%;
    margin-bottom: 28px;
  }

  .about-place {
    width: 600px;
    height: auto;
    margin: 40px auto;
  }

  .about-place-child {
    width: 100%;
  }

  .about-place-child:last-child {
    padding: 0px 15px 20px 15px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 18px;
  }

  .doctors-title {
    font-size: 24px;
  }

  .analize-blocks-place {
    margin: 20px auto 0px;
  }

  .analize-block {
    margin: 0px 40px 20px 0px;
  }

  .analize-block:nth-child(3n) {
    margin: 0px 40px 20px 0px;
  }

  .analize-block:nth-child(2n) {
    margin: 0px 0px 20px 0px;
  }

  .analize-place-title {
    font-size: 24px;
  }

  .analize-block-under-abs-text {
    font-size: 18px;
  }

  .footer-center {
    width: 960px;
  }

  .footer-info-blocks {
    width: 300px;
  }
}

@media(max-width: 1100px) {
  .service-info-left-block {
    width: 400px;
    height: 360px;
  }

  .service-info-left-block-abs {
    top: -25px;
    left: -25px;
  }

  .service-info-icon-place {
    width: 280px;
    height: 190px;
  }

  .services-single-block-img-place {
    width: 90px;
    height: 90px;
  }

  .service-info-title {
    margin-top: 15px;
    font-size: 16px;
  }

  .service-info-right-block {
    width: 400px;
  }

  .service-info-second-title {
    margin-top: 15px;
    font-size: 18px;
  }

  .service-info-text {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media(max-width: 1050px) {
  .modal-place-center {
    padding: 0px 20px 20px 20px;
  }

  .modal-title {
    margin: 15px 0px;
    font-size: 20px;
  }

  .modal-text {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .modal-input-place-child {
    width: 240px;
    height: 50px;
  }

  .modal-input {
    font-size: 16px;
  }

  .modal-input::placeholder {
    font-size: 16px;
  }

  .modal-question-text {
    font-size: 14px;
  }

  .label {
    padding-top: 2px;
    padding-left: 25px;
    font-size: 14px;
  }

  .checkmark {
    height: 14px;
    width: 14px;
  }

  .label .checkmark:after {
    top: 3px;
    left: 3px;
  }

  .modal-get-result-btn {
    font-size: 14px;
  }

  .actions-title {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .actions-place {
    width: 600px;
  }

  .actions-image-place {
    width: 100%;
    height: 400px;
  }

  .actions-block-child:nth-child(2n) .actions-text-place {
    margin-right: 0px;
  }

  .actions-text-place {
    width: 100%;
    min-height: auto;
    margin: 20px 0px;
  }

  .actions-text {
    font-size: 18px;
  }

  .register-form-center {
    padding: 0px 30px;
  }

  .register-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .form-input-place {
    height: 70px;
  }

  .register-input {
    padding: 0px 5px 0px 20px;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  ::placeholder {
    font-size: 18px;
  }

  .select-selected {
    height: 70px;
    padding: 22px 5px 0px 20px;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .short-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .ui-datepicker-trigger {
    height: 66px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .input-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .ui-widget {
    font-size: 16px !important;
  }

  .select-selected:after {
    top: 34px;
    border: 10px solid transparent;
    border-color: var(--green-block-border-decor) transparent transparent transparent;
  }

  .select-items div {
    font-size: 18px;
  }

  .form-analize-place {
    height: 70px;
    font-size: 22px;
    padding: 0px 5px 0px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .form-analize-text {
    line-height: 70px;
  }

  .form-analize-place:after {
    top: 34px;
    border: 10px solid transparent;
    border-color: var(--green-block-border-decor) transparent transparent transparent;
  }

  .form-analize-place-arrow-active:after {
    border-color: transparent transparent var(--green-block-border-decor) transparent;
    top: 25px;
  }

  .form-analize-list-analize-name {
    font-size: 18px;
  }

  .form-analize-list-analize-price {
    margin-right: 20px;
    font-size: 18px;
  }

  .form-analize-list-analize-check-place {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  .form-analize-list-item {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  textarea {
    margin: 30px auto;
    font-size: 22px;
  }

  .ui-timepicker-wrapper {
    width: 270px !important;
  }

  .form-button-place {
    width: 170px;
    height: 70px;
  }

  .form-btn {
    display: block;
    width: 150px;
    height: 60px;
    font-size: 16px;
  }

  .form-button-place:hover .form-btn {
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
}

@media(max-width: 992px) {
  footer {
    height: auto;
  }

  .footer-top {
    height: auto;
  }

  .footer-center {
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: column;
  }

  .footer-info-blocks {
    width: 100%;
    height: 260px;
    margin: 0px;
  }

  .footer-info-blocks:nth-child(2n) {
    width: 100%;
    margin: 0px;
    order: -1;
  }

  .footer-info-blocks:nth-child(3n) {
    height: 170px;
  }

  .footer-info-blocks-decor {
    margin: 20px 0px 10px 0px;
  }

  .all-right {
    font-size: 14px;
  }
}

@media(max-width: 940px) {
  .service-info-place {
    width: 420px;
  }

  .service-info-left-block {
    float: none;
    padding-top: 5px;
  }

  .service-info-right-block {
    width: 98%;
    float: none;
    margin: 20px auto 0px;
  }

  .service-info-price-place {
    width: 590px;
  }

  .service-info-price-block:nth-child(4n) {
    margin: 0px 0px 30px 0px;
  }

  .service-info-price-block:nth-child(3n) {
    margin: 0px 30px 30px 0px;
  }

  .service-info-price-block:nth-child(2n) {
    margin: 0px 0px 30px 0px;
  }
}

@media(max-width: 860px) {
  .slider-place {
    height: 320px;
  }

  .owl-carousel .owl-item img {
    height: 320px !important;
    max-height: 320px !important;
  }

  .doctors-place-center {
    width: 400px;
  }

  .doctors-block {
    margin: 0px 0px 40px 0px;
  }

  .doctors-block:nth-child(3n) {
    margin: 0px 0px 40px 0px;
  }

  .analize-blocks-place {
    width: 400px;
  }

  .analize-block {
    margin: 0px 0px 20px 0px;
  }

  .analize-block:nth-child(2) {
    margin: 0px 0px 20px 0px;
  }

  .doctors-background-place {
    height: 320px;
  }

  .doctors-background-text-place {
    height: 70px;
  }

  .doctors-background-text {
    line-height: 70px;
    font-size: 20px;
  }

  .all-doctors-center {
    width: 400px;
  }

  .all-doctors-block {
    margin: 0px 0px 20px 0px;
  }

  .all-doctors-block:nth-child(4n) {
    margin: 0px 0px 20px 0px;
  }

  .all-doctors-block:nth-child(3n) {
    margin: 0px 0px 20px 0px;
  }

  .all-doctors-block:nth-child(2n) {
    margin: 0px 0px 20px 0px;
  }

  .services-center {
    width: 415px;
  }

  .register-now-center {
    padding-top: 30px;
  }

  .register-now-title {
    margin-top: 10px;
    font-size: 20px;
  }

  .register-now-text {
    margin: 30px 0px 30px 0px;
    font-size: 16px;
  }
}

@media(max-width: 830px) {
  .modal-title {
    margin: 10px 0px;
    font-size: 16px;
  }

  .modal-text {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .modal-input-place-child {
    width: 200px;
    height: 40px;
    margin: 0px 10px 10px 0px;
  }

  .modal-input-place-child:nth-child(3n) {
    margin: 0px 10px 10px 0px;
  }

  .modal-input {
    font-size: 14px;
  }

  .modal-input::placeholder {
    font-size: 14px;
  }

  .modal-question-text {
    margin-bottom: 15px;
  }

  .modal-radio-place {
    margin-bottom: 15px;
  }

  .modal-get-result-btn {
    font-size: 14px;
  }

  .error-text {
    font-size: 14px;
  }

  .success-text {
    font-size: 14px;
  }

  .form-error-message {
    font-size: 14px;
  }

  .form-success-message {
    font-size: 14px;
  }
}

@media(max-width: 770px) {
  .all-price-block-title {
    font-size: 18px;
  }

  .all-price-item {
    height: 90px;
  }

  .all-price-item-center {
    height: 70px;
    padding: 0px 15px;
  }

  .all-price-item-center p {
    font-size: 14px;
  }

  .analize-price {
    margin-right: 20px;
  }

  .analize-check-place {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  .all-price-item:hover p {
    font-size: 16px;
  }

  .all-price-analize-name {
    max-width: calc(100% - 110px);
  }

  .form-analize-list-analize-name {
    font-size: 14px;
  }
  
  .form-analize-list-analize-price {
    margin-right: 15px;
    font-size: 14px;
  }

  .form-analize-list-analize-check-place {
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }

  .select-items div {
    font-size: 14px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

@media(max-width: 700px) {
  .modal-input-place {
    width: 410px;
    height: 100px;
    float: none;
    margin: 0px auto;
  }

  .modal-question-text {
    clear: both;
  }

  .modal-input-place-child:nth-child(2n) {
    margin: 0px 0px 10px 0px;
  }

  .modal-input-place-child:nth-child(3n) {
    float: none;
    margin: 0px auto 10px;
  }

  .analize-place-title {
    font-size: 20px;
  }

  .branches-accordion-item {
    height: 50px;
  }

  .branche-title {
    line-height: 50px;
    font-size: 18px;
  }

  .branches-accordion-info-text-place {
    margin-top: 10px;
  }

  .branches-accordion-info-text {
    font-size: 14px;
  }

  .branch-address-icon {
    width: 15px;
    height: 15px;
  }

  .branch-soc-place {
    margin-top: 15px;
  }

  .branch-soc-link {
    width: 16px;
    height: 16px;
  }

  .register-form-center {
    padding: 0px 5px;
  }

  .register-doctor-form-place {
    padding: 0px 20px;
  }

  .register-form-place {
    padding: 0px 20px;
  }

  textarea {
    height: 170px;
    padding: 20px 10px 5px 10px;
    font-size: 18px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

@media(max-width: 640px) {
  .actions-place {
    width: 98%;
  }
}

@media(max-width: 620px) {
  .about-place {
    width: 98%;
  }

  .service-info-price-place {
    width: 280px;
  }

  .service-info-price-block {
    margin: 0px 0px 30px 0px;
  }

  .service-info-price-block:nth-child(4n) {
    margin: 0px 0px 30px 0px;
  }

  .service-info-price-block:nth-child(3n) {
    margin: 0px 0px 30px 0px;
  }

  .service-info-price-block:nth-child(2n) {
    margin: 0px 0px 30px 0px;
  }
}

@media(max-width: 600px) {
  .register-now-center {
    width: 300px;
    margin: 0px auto;
  }

  .register-now-img-place {
    width: 100%;
    margin-bottom: 15px;
  }

  .register-now-text-place {
    width: 100%;
    margin-bottom: 15px;
  }

  .register-place {
    padding: 20px 5px 20px 5px;
  }

  .register-doctor-form-place {
    padding: 0px 5px;
  }

  .register-form-place {
    padding: 0px 5px;
  }
}

@media(max-width: 560px) {
  .selected-analize-place {
    right: -360px;
    width: 360px;
  }

  .selected-analize-name {
    font-size: 12px;
  }

  .selected-analize-price {
    margin-right: 7px;
    font-size: 12px;
  }

  .slider-place {
    height: 240px;
  }

  .owl-carousel .owl-item img {
    height: 240px !important;
    max-height: 240px !important;
  }

  .owl-prev {
    width: 30px;
    height: 30px;
  }

  .owl-next {
    width: 30px;
    height: 30px;
  }

  .slider-btn-place-abs {
    bottom: 20px;
    height: 60px;
  }

  .register-center-btn-place {
    width: 100px;
    height: 40px;
  }

  .register-link {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .register-center-btn-place:hover .register-link {
    line-height: 40px;
    font-size: 16px;
  }

  .top-services-place {
    width: 270px;
    min-height: 1060px;
  }

  .top-services-block {
    width: 100%;
    margin-bottom: 15px;
  }

  .branches-place {
    margin: 20px 0px;
  }

  .branches-title {
    font-size: 20px;
  }

  .branche-title {
    font-size: 16px;
  }

  .branches-accordion-info-text-place {
    margin-top: 1px;
  }

  .branches-accordion-info-text {
    font-size: 12px;
  }

  .branch-address-icon {
    width: 10px;
    height: 10px;
  }

  .branch-soc-place {
    margin-top: 10px;
  }
}

@media(max-width: 500px) {
  .modal-close-btn {
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
  }

  .modal-place-center {
    padding: 0px 10px 10px 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

  .all-price-block-title {
    font-size: 14px;
  }

  .all-price-item {
    height: 80px;
  }

  .all-price-item-center {
    height: 60px;
    padding: 0px 10px;
  }

  .all-price-item-center p {
    font-size: 12px;
  }

  .analize-price {
    margin-right: 10px;
  }

  .analize-check-place {
    width: 15px;
    height: 15px;
    margin-top: 8px;
  }

  .all-price-analize-name {
    max-width: calc(100% - 90px);
  }

  .all-price-item:hover p {
    font-size: 12px;
  }

  .actions-image-place {
    height: 330px;
  }
}

@media(max-width: 460px) {
  .actions-block-place {
    margin-bottom: 20px;
  }

  .actions-title {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .actions-text {
    font-size: 16px;
  }

  .service-info-place {
    width: 98%;
    padding: 40px 10px 10px 10px;
  }

  .service-info-left-block {
    width: calc(100% - 40px);
    height: 320px;
    margin: 0px auto;
  }

  .service-info-icon-place {
    width: 220px;
    height: 150px;
  }

  .services-single-block-img-place {
    width: 70px;
    height: 70px;
  }

  .service-info-second-title {
    font-size: 16px;
  }

  .form-analize-list-item {
    padding: 10px 5px;
  }

  .form-analize-list-analize-name {
    font-size: 12px;
  }

  .select-selected {
    padding: 26px 5px 0px 20px;
    font-size: 16px;
  }

  .form-analize-place {
    font-size: 16px;
  }

  .form-analize-list-analize-price {
    margin-right: 10px;
    font-size: 12px;
  }

  ::placeholder {
    font-size: 16px;
  }

  .form-button-place {
    width: 150px;
    height: 50px;
  }

  .form-btn {
    display: block;
    width: 130px;
    height: 30px;
    font-size: 14px;
  }

  .form-button-place:hover .form-btn {
    font-size: 16px;
  }
}

@media(max-width: 440px) {
  .modal-input-place {
    width: 200px;
    height: auto;
    float: left;
  }

  .modal-input-place-child:nth-child(3n) {
    float: left;
  }

  .services-center {
    width: 92%;
  }

  .services-block {
    width: 100%;
    height: 280px;
  }

  .services-block .services-block-child {
    margin: 0px;
  }

  .services-block-img-place {
    width: 100px;
    height: 100px;
  }

  .services-name {
    font-size: 14px;
  }
}

@media(max-width: 420px) {
  .selected-analize-place {
    right: -270px;
    width: 270px;
  }

  .selected-analize-name {
    font-size: 10px;
  }

  .selected-analize-price {
    line-height: 18px;
    margin-right: 5px;
    font-size: 10px;
  }

  .remove-analize-btn {
    width: 8px;
    height: 8px;
  }

  .selected-analize-all-price {
    font-size: 14px;
  }

  .link-from-selected-analize-list {
    margin-top: 10px;
    font-size: 14px;
  }

  .link-from-selected-analize-list:hover {
    font-size: 16px;
  }

  .doctors-place-center {
    width: 300px;
  }

  .doctors-block {
    width: 100%;
    height: 400px;
  }

  .doctors-open-info-place {
    bottom: -140px;
    height: 140px;
  }

  .doctor-info-text {
    font-size: 16px;
  }

  .doctor-soc-place {
    width: 180px;
    margin: 30px auto 0px;
  }

  .doctor-soc-icon-place {
    width: 30px;
    height: 30px;
  }

  .analize-blocks-place {
    width: 98%;
  }

  .analize-block {
    width: 100%;
  }

  .all-doctors-place {
    margin: 20px auto;
  }

  .all-doctors-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .all-doctors-center {
    width: 300px;
  }

  .all-doctors-block {
    width: 300px;
    height: 300px;
  }

  .doctors-background-place {
    height: 210px;
  }

  .doctors-background-text-place {
    height: 50px;
    margin-top: 110px;
  }

  .doctors-background-text {
    line-height: 50px;
    font-size: 16px;
  } 
}

@media(max-width: 400px) {
  .actions-image-place {
    height: 260px;
  }
}

@media(max-width: 380px) {
  .service-info-left-block {
    height: 270px;
  }

  .service-info-icon-place {
    width: 180px;
    height: 130px;
  }
}

@media(max-width: 360px) {
  .analize-block {
    height: 320px;
    margin: 0px 0px 20px 0px;
  }

  .analize-block-under-abs {
    top: 290px;
    height: 30px;
  }

  .analize-block-under-abs-text {
    font-size: 14px;
  }

  .analize-block-over-rel {
    height: 290px;
  }
}

@media(max-width: 700px) and (max-height: 360px) {
  .modal-place-center {
    max-height: 230px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

@media(max-height: 450px) {
  .header-menu-mobile-link {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
  }

  .header-mobile-phone-number {
    font-size: 14px;
  }
}
