.register-form-place {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 50px;
  background-color: var(--just-white);
  box-shadow: 10px 10px 30px #A3D3E7;
  box-sizing: border-box;
}

.form-select-place {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  width: calc(100% - 4px);
  height: 100px;
  margin: 0px auto 10px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 46px;
  right: 36px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-color: var(--green-block-border-decor) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--green-block-border-decor) transparent;
  top: 25px;
}

/*style the items (options), including the selected item:*/
.select-selected {
  padding: 28px 5px 0px 40px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.33);
  cursor: pointer;
  user-select: none;
  background-color: var(--just-white);
  border: 2px solid var(--green-block-border-decor);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-sizing: border-box;
}

.select-items div {
  margin-bottom: 10px;
  padding: 10px 5px 10px 20px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.33);
  cursor: pointer;
  user-select: none;
  background-color: var(--just-white);
  border: 2px solid var(--green-block-border-decor);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-sizing: border-box;
}

.select-items div:last-child {
  margin-bottom: 0px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--just-white);
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  max-height: 400px;
  padding: 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-sizing: border-box;
  overflow-x: hidden;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
