.all-price-place {
  width: 1120px;
  height: auto;
  margin: 0px auto;
  padding: 40px 0px;
  box-sizing: border-box;
}

.all-price-block {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.all-price-block-title {
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 24px;
  color: var(--just-black);
  box-sizing: border-box;
}

.all-price-item {
  width: 100%;
  height: 120px;
  padding-top: 10px;
  box-sizing: border-box;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.all-price-item:hover {
  padding-top: 0px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.all-price-item:hover .all-price-item-center {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.all-price-item:hover p {
  font-size: 20px;
  font-weight: bold;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.all-price-item-center {
  display: flex;
  width: 1100px;
  height: 100px;
  margin: 0px auto;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-footer-bg-color);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.all-price-item-center p {
  font-size: 18px;
  color: var(--just-black);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.all-price-analize-name {
  max-width: calc(100% - 230px);
  word-wrap: break-word;
}

.analize-price {
  line-height: 30px;
  float: left;
  margin-right: 90px;
}

.analize-check-place {
  width: 30px;
  height: 30px;
  float: left;
}

.analize-cheked {
  display: none;
}
